[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
motor = "==3.0.0"
numpy = "*"
opencv-python-headless = "==4.6.0.66"
boto3 = "*"
aiohttp = "*"
gunicorn = ">=20.1"
httpx = "*"
python-multipart = "*"
fastapi = "==0.79.0"
fastapi-utils = "*"
sendgrid = "*"
celery = {extras = ["redis"], version = ">=5.2"}
flower = "*"

[dev-packages]
#[requires]
#python_version = "3.9"
